{{#each collection.models}}
    <div  {{#if attributes.completed }} style="text-decoration: line-through;" {{/if}} >

        {{#eq attributes.node_type "todo"}}
            <i class="icon-check"></i>
        {{/eq}}

        {{#eq attributes.node_type "entry"}}
            <i class="icon-file-alt"></i>
        {{/eq}}
        {{getFieldValue this "name"}}
    </div>
{{/each}}

